certifi==2020.12.5
chardet==4.0.0
idna==2.10
numpy==1.19.4
oauthlib==3.1.0
Pillow==8.0.1
Pygments==2.7.3
Pypubsub==4.0.3
pywin32==300
requests==2.25.1
requests-oauthlib==1.3.0
robotframework==3.2.2
robotframework-extendedrequestslibrary==0.5.5
robotframework-httpctrl==0.1.6
robotframework-pythonlibcore==2.1.0
robotframework-requests==0.7.2
robotframework-seleniumlibrary==4.5.0
robotframework-sudslibrary3==1.0
selenium==3.141.0
six==1.15.0
suds-jurko==0.6
urllib3==1.26.2
wxPython==4.0.7.post2
